<html>
    <body>
        <form action="save1" method="POST">
           f: <input type="text" name="f"><br><br>
           a: <input type="text" name="a"><br><br>
           b: <input type="text" name="b"><br><br>
           n: <input type="text" name="n"><br><br>
            <input type="submit" value="Sum using for-loop"><br><br>
        </form>
        <form action="save2" method="POST">
           f: <input type="text" name="f"><br><br>
           a: <input type="text" name="a"><br><br>
           b: <input type="text" name="b"><br><br>
           n: <input type="text" name="n"><br><br>
            <input type="submit" value="Sum using sum-function">
        </form>
        <form action="save3" method="POST">
           f: <input type="text" name="f"><br><br>
           a: <input type="text" name="a"><br><br>
           b: <input type="text" name="b"><br><br>
           n: <input type="text" name="n"><br><br>
            <input type="submit" value="Sum using numpy">
        </form>
    </body>
</html>